@import '/Users/nico/dev/ponyfoo/node_modules/nib/index'
@import 'colors'
@import 'reset'
@import 'cube'
@import 'cubicles'
@import 'welcome'
@import 'tint'
@import 'scoreboard'

.the-man
  .pc-face
    animation playercubicle 3s alternate infinite
