@import '/Users/nico/dev/ponyfoo/node_modules/nib/index'
@import 'colors'
@import 'reset'
@import 'cube'
@import 'cubicles'
@import 'welcome'
@import 'tint'
@import 'scoreboard'
@import 'npc'

.the-man
  border 10px solid c-strong
  border-radius 50px
  opacity 0.4
  transition border-color border-radius border 0.8s
  animation playerthing 2.2s alternate infinite !important

@keyframes playerthing
  0%
    border-radius 0
  20%
    border-color c-red
    border-radius 100px
    transform skew(2deg)
  40%
    border-radius 20px
    transform skew(9deg)
  60%
    border-color c-pink
    border-radius 50px
    transform skew(4deg)
  80%
    border-radius 10px
    transform skew(-5deg)
  100%
    border-color c-yellow-js
    border-radius 35px
