c-background = #f3f4eb
c-blackish = #303236
c-blackish-border = #222426
c-strong = #412917
c-strongish = #e0e0cf
c-light = #f3f4ec
c-green-light = #94d589
c-yellow-js = #f1e05a
c-pink = #e92c6c
c-pink-light = #ffd2d2
c-blue-light = #a4d4e6
c-red = #d11911
c-red-shadow = #7a0000
c-green = #4cdb33
