.you-0
  pc-cube(15px, 6px, 0)

.you-1
  pc-cube(20px, 6px, 222, 30%, 20%)

.you-2
  pc-cube(30px, 6px, 115, -30%, 30%)

.you-3
  pc-cube(40px, 6px, 120, 20%, 40%)

.you-4
  pc-cube(50px, 6px, 100, 20%, 40%)

.you-5
  pc-cube(60px, 55px, 20%, 40%)

.you-1
  pc-cube(30px, 12px, 6, 20%, 0)

.npc-0
  pc-cube(25px, 10px, 1, 60%)

.npc-1
  pc-cube(50px, 20px, 5, -60%, 5%)

.npc-2
  pc-cube(100px, 40px, 7, 0%, 100%)

.npc-3
  pc-cube(150px, 70px, 8, 30%, 40%)

.npc-4
  pc-cube(230px, 10px, 9, -30%, 50%)

.npc-5
  pc-cube(300px, 90px, 10, 60%, 60%)

.npc-6
  pc-cube(350px, 100px, 11, -60%, 70%)
  opacity 0.9

.bullet-0
  pc-cube(4px, 2px, 2, 100%, 15%)

.bullet-1
  pc-cube(6px, 3px, 3, 50%, 40%)

.pow-0
  pc-cube(8px, 15px, 2, 0%, -40%)

.pc-parent .pow-0
  .pc-front,
  .pc-left,
  .pc-top
    width 36px !important
    height 4px !important

.npc-mass
  .pc-face
    opacity 1
    transform scale(0.7deg) skew(5deg)

.npc-disc
  border-radius 50px
  transform scale(1.1) skew(5deg)

  .pc-top
    transform scale(10)

.npc-funk
  transform scale(1.4)

  .pc-top
    transform skew(-10deg)
