.sc-score
  position fixed
  background-color rgba(c-red, 0.6)
  color c-light
  top 10px
  left 10px
  padding 10px
  display inline-block
  box-shadow 1px 1px 6px c-red
  font-family 'Merriweather'
  line-height 26px

  span
    display inline-block

    &:first-child
      width 75px
