.rt-tint
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color c-red-shadow
  opacity 0
  z-index 10
  transition all 1s ease-in-out 0.3s
  border 60px dashed c-pink-light

.rt-tint.rt-show
  opacity 1
  border-color c-pink

  .rt-repo
    display block

.rt-message
  position absolute
  left 30px
  right 30px
  text-align center
  font-size 48px
  margin-top -24px
  color c-light
  background-color c-pink
  box-shadow 3px 3px 65px c-pink-light
  padding 20px
  transition all 0.3s
  animation shake-it 4.2s alternate infinite
  z-index 12

.rt-repo
  display none
  position absolute
  bottom 100px
  left 0
  right 0
  text-align center
  text-decoration none
  color c-pink
  font-size 70px
